* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #111, #b00000);
}

header h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

header p {
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 15px;
    background: #222;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff3333;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 30px 20px;
}

section {
    background: #1c1c1c;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px #000;
}

h2 {
    color: #ff3333;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

button {
    background: #d00000;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #ff2222;
}

#mensagem {
    margin-top: 15px;
    font-weight: bold;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 200px;
    padding: 25px;
    background: #292929;
    border-radius: 12px;
    text-align: center;
}

.card h3 {
    font-size: 30px;
    color: #ff3333;
}

li {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 25px;
    background: #050505;
}